* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
#app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

// 页面布局
.page-container {
    height: 100%;
    padding: 12px;
}